services:
  api:
    build:
      context: ./api
      target: dev
    volumes:
      - ./api:/app
      - ./api/package.json:/app/package.json
      - ./api/yarn.lock:/app/yarn.lock
      - /app/node_modules
    ports:
      - "3001:3000"
      - "9229:9229"
    depends_on:
      - postgres
    environment:
      - NODE_ENV=development
      - DB_HOST=postgres
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=postgres
      - REDIS_HOST=redis
      - JWT_ACCESS_SECRET=hfdhsfjhdjhfjdsfjhdhfhdjhfjdjhfjdh
      - JWT_REFRESH_SECRET=djfhjhdjhjdhsfjjdhfjhdsjhfjhdjfhjdh
    command: ["yarn", "start:debug"]
  postgres:
    image: postgres:14.3-alpine
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
  redis:
    image: redis:7.0.2-alpine

  pg-admin:
    image: dpage/pgadmin4:6.12
    ports:
      - "6000:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=user@domain.com
      - PGADMIN_DEFAULT_PASSWORD=pass


volumes:
  postgres-data: