services:
  api:
    build:
      context: ./api
      target: dev
    volumes:
      - ./api:/app
      - ./api/package.json:/app/package.json
      - ./api/yarn.lock:/app/yarn.lock
      - /app/node_modules
    ports:
      - "3001:3000"
      - "9229:9229"
    depends_on:
      - postgres
    env_file:
      - api/.env
  postgres:
    image: postgres:14.3-alpine
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
  redis:
    image: redis:7.0.2-alpine


volumes:
  postgres-data: